{
  auto_https off
}  
 

http:// {
    #bind 0.0.0.0

    route /shared/* {
        encode gzip
        uri strip_prefix /shared
        root * /usr/share/caddy
        file_server browse
    }

    route /hello-caddy/* {
        respond "\n\nhello hello!\n\n"
    }
    route /caddy-hello/* {
	respond "\n\nhello hello2!\n\n"
    }
}

